:root{
    --bg: #2b41a3;
    --fr: rgb(228, 238, 253);
    --or: #e98877;
}
body{
    background-color: var(--bg);
    color: var(--fr);
    font-family:fantasy;
}
a{
    color: var(--or);
}
.signButton{
    background-color:var(--or);
}
.logo{
    width: 3vw
}
.logoText{
    font-size: 3vw;
    margin: 0;
    cursor: pointer;  
}
.userCorner{
    position: absolute;
    top: 1%;
    right: 1%;
}
.usernameCorner{
    font-size: 2vw;
    margin: 1vw 0 0 0vw;
}
.pfp{
    width: 2.5vw;
    border-radius: 2vw;
}
.posts{
    display: grid;
    grid-template-columns: repeat(4, auto);
}
.post{
    background-color: rgb(64, 120, 224);
    margin: 1vw;
    padding: 1vw;
    border-radius: 1vw;
}
.inputDiv{
    width: 40%;
}
.textarea{
    width: 80%;
    height: 5vw;
    resize: none;
    font-family: fantasy;
    margin: 1vw;
}
.send{
    position: absolute;
    background-color: var(--or);
    font-size: 2vw;
    top: 5vw;
    border: 0.1vw solid rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.signOut{
    background-color: var(--or);
    font-size: 0.7vw;
    border: 0.1vw solid rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    float: right;
}